openai
streamlit>=1.45.0
scikit-learn
PyPDF2
pandas
numpy
openpyxl
xlsxwriter
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
chardet
geopy
folium
streamlit-folium
pytesseract
Pillow
gradio_client